"Play Time/.DS_Store"
"Play Time/Play Time.xcworkspace/xcuserdata/bgouws.xcuserdatad/UserInterfaceState.xcuserstate"
"Play Time/Play Time.xcworkspace/xcuserdata/bgouws.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist"
Play Time/Pods/*
Play Time/PTFramework
*.DS_Store
/PTFramework
.DS_Store

